@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.background {
  --bg-lines-color: #050b21;
  --bg-lines-width: 3px;
  background-image:
      linear-gradient(to right, var(--bg-lines-color) var(--bg-lines-width), transparent 1px),
    linear-gradient(to bottom, var(--bg-lines-color) var(--bg-lines-width), transparent 1px);
}

.background-shadow {
  box-shadow: 0 0 300px inset black;
}
